@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Manrope&display=swap');

/*
font-family: 'Catamaran', sans-serif;
font-family: 'Manrope', sans-serif;
*/

.SponsContainer{
    margin: 0;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    background-color: #DBF2FF;
    color: #004C7D;
    background: url("../Design/light+circle.png") no-repeat center ;
}

.SponsContainer .title{
    mask-type: 2rem;
    font-family: "Nunito";
    height: 20%;
    font-size: 35px;
    font-weight: bolder;
}
.sponscard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sponscard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}
.tlc{
    filter: invert(1);
    height: auto;
    width: 400px;
    margin-left: 3rem;
}
.gfg{
    width: 300px;
    height: auto;
}
.elearn{
    height: auto;
    width: 250px;
    /* filter: brightness(50%) */
}
.sponscard .cardtitle{
    /* margin-top: 10px; */
    font-size: 26px;
    font-family: "Nunito";
    font-weight: bolder;
    
}

.line{
    margin: 0;
    padding: 30px 0px;
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* background-color: #DBF2FF; */
    background-color: transparent;
    color: #004C7D;
}


.tech{
    width: 200px;
    height: 100%;
}
.ieee{
    width: 200px;
    height: 100%;
}
.skill{
    width: 350px;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .SponsContainer{
        height: auto;
        margin: 0;
        padding: 0;
        background: url("../Design/light+circle.png") no-repeat top;
        background-size: cover;
    }
    .tlc{
        width: 80vw;
        height: auto;
    }
    .line{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .sponscard{
        padding: 25px 0px;
    }
    .sponscard img{
        padding: 10px 0px;
    }
  }