.item {
  margin-top: 0px;
  padding-top: 5px;
  text-align: centre;
  color: black;
}
.box:hover:hover {
  background-color: #bfebff;
  border-radius: 20px;
}

.item:active {
  color: blue;
}
.item:focus {
  color: blue;
}
