.item {
  margin-top: 0px;
  padding-top: 5px;
  text-align: centre;
  color: white;
  font-family: "Nunito";
}
.box:hover{
  background-color: #bfebff;
  border-radius: 20px;
  color: black;
}
.item:hover{
  color: black;
}
