@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Manrope:wght@300&&display=swap");

.profilecontainer {
  width: 100%;
  height: 100%;
  font-family: "Catamaran", sans-serif;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(219, 242, 255, 1) 0%,
    rgba(185, 250, 255, 1) 100%
  );
}

#back-card img {
  height: 240px;
  /* background: url('../profile/profilebg.jpg'); */
  background-size: cover;
  border-radius: 15px;
  width: 100%;
  /* padding: 2em; */
  /* justify-content: center; */
  /* margin-bottom: -60px; */
  background-size: cover !important;
}

@media (max-width: 700px) {
  #back-card {
    height: 200px;
  }
}

#back-card .overlay {
  height: 100%;
  width: 100%;
  background: black;
  border-radius: 15px;
  opacity: 0.5;
}

.myprofile {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.link_404 {
  margin-top: 40px;
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #000;
  background-color: #dbf2ff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.link_404:hover {
  background-color: #003247;
  box-shadow: 0px 10px 15px rgba(0, 50, 71, 0.4);
  color: #dbf2ff;
  transform: translateY(-7px);
}

.imgprofile {
  width: 10rem;
  overflow: hidden;
  border-radius: 4rem;
  height: 8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* .Prodetails {
  display: block;
  margin: 0 .8rem;
  color: white;
  font-size: 1.1rem;
} */

.profilenav {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about-user .about-header {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 10px;
  font-family: "Manrope", sans-serif;
  display: inline-block;
  position: relative;
  color: black;
}

.Pnavchild {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;

  padding: 10px;
  font-family: "Manrope", sans-serif;
  /* border: 1px solid  red; */
  /* border-bottom:2px solid #dbf3ff; */
}

.Pnavchild {
  display: inline-block;
  position: relative;
  color: black;
}

.Pnavchild:hover {
  color: #cfa744;
  cursor: pointer;
}

.Pnavchild:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  background-color: #cfa744;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.Pnavchild:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.Pcontainer {
  min-height: 20rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.Pchild {
  margin: 2rem;
  width: 20rem;
  min-height: 10rem;

  background: linear-gradient(270deg, rgba(219, 242, 255, 1) 0%, #b5c8e8 100%);

  border-radius: 2rem;
  position: relative;
  box-shadow: rgba(86, 87, 87, 0.832) 5px 6px 7px 1px;
}

.psubchild {
  position: absolute;
  right: 10%;
  top: 5%;
}

.psubchild1 {
  position: absolute;
  left: -15%;
  top: 20%;
  border-radius: 1rem;
  background: linear-gradient(
    90deg,
    rgba(219, 242, 255, 1) 0%,
    rgba(185, 250, 255, 1) 100%
  );
  background-position: center center;
  background-size: cover;
  height: 60%;
  width: 30%;
  box-shadow: rgba(110, 109, 109, 0.832) 5px 6px 7px 1px;
  overflow: hidden;
}



.eventname {
  display: block;
  font-size: 2rem;
  background-image: none !important;
  /* padding-top: 1rem; */
}

.eventteam {
  font-size: 1.2rem;
  display: block;
  color: #004c7d;
}

.eventinfo {
  display: block;
  font-size: 1.2rem;
  padding-top: 1rem;
}

.onclicknav {
  color: #cfa744;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.onclicknav:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #cfa744;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 450px) {
  .Prodetails {
    margin: 5px;
    font-size: 0.8rem;
    margin-left: 10px;
  }

  .imgprofile {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
  }

  .myprofile {
    height: 10rem;
  }

  .Pchild {
    width: 15rem;
    /* margin: auto; */
    min-height: 8rem;
  }

  .eventname {
    font-size: 1.5rem;
  }

  .eventteam {
    font-size: 1rem;
  }

  .eventinfo {
    font-size: 1rem;
  }

  .psubchild1 {
    width: 5rem;
    height: 6rem;
    top: 10%;
  }

  .psubchild {
    right: 10px;
    top: 5%;
  }
}

@media screen and (max-width: 410px) {
  .Pnavchild {
    margin: 0.8rem;
    font-size: 1.3rem;
  }
  .eventinfo div {
  display: inline-block !important;
  
}
.eventinfo{
  padding: 0px;
}
.pevent{
  padding-left: 4rem;
}
}

@media screen and (max-width: 300px) {
  .Pchild {
    margin-right: 10px;
  }

  .psubchild1 {
    left: -10%;
  }
}

@media screen and (max-width: 350px) {
  .Pnavchild {
    padding: 0;
    margin: 0.5rem;
  }

  .imgprofile {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.75rem;
  }
}
.pevent{
  width:14rem
}
.profilecontainer input{
  border-radius: .2rem;
  font-size: 1.3rem;
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
  
  
}
.profilecontainer input:focus{
   outline:none;

}
