body {
    /* background: radial-gradient(circle, #003247 0%, #013147 10%, #013044 20%, #003046 30%, #002f43 70%, #01273c 90%); */
    background: url("../Design/dark.png");
}
#about{
    background: url("../Design/light+circle.png");
    /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.05); */
    /* opacity: 0.95; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding-top: 40px;
    padding-bottom: 40px;
}


.aboutHead {
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    border-radius: 10px;
    text-align: center;
    width: 46%;
    
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    margin-left: 27%;
    margin-right: 27%;

}

.aboutPara {
    /* font-size: 1.4em; */
    /* color: #DBF2FF; */
    color: black;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6; */
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 1.2rem !important;
    border-radius: 15px;
    text-align: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.myVideo {
    position: fixed;
    z-index: -1;
    /* width:auto;*/
    height: 120%;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


@media only screen and (max-width: 360px) {
    #about h4{
        padding: 0;
        width: 100%;
        /* margin: 30px; */
        justify-content: center;
    }

    .aboutPara{
        width: 80vw !important;
        margin-left: 5vw;
    }
  }