#events{
    background: url("../Design/dark+circle.png");
}
.EventHead{
    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    border-radius: 10px;
    text-align: center;
    width: 46%;
    margin-left: 27%;
    margin-right: 27%;
}

#card{
    margin: 0px 10px;
}
#card h3{
    font-family: 'Poppins';
}
#card .info{
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 1.1rem ;
    color: black;
}

