
/* body
{
    background-image: url('../img/img2.jpg');
} */
.aboutHead{

    color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    border-radius: 10px;
    text-align: center;
    width: 46%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 27%;
    margin-right: 27%;
    font-size: 50px;
    }
    
    .aboutPara{
        font-size: 1.4em;
        color: #DBF2FF;
        /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6; */
    
    border-radius: 15px;
    text-align: center;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    }
    
    .myVideo{
        position: fixed;
        z-index: -1;
        /* width:auto;*/
        height:120%; 
        padding: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }