/* @tailwind base;
@tailwind components;
@tailwind utilities; */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vline{
    height: 80px;
    width: 1px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
    border-left: 1px solid #fff;
}
.up{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
}
.up img{
    height: 115px;
    width: auto;
}
.toptext{
    color: white;
    font-weight: bold;
    font-family: "Nunito";
    margin-right: 10px;
}

li{
    font-family: "Nunito";
}
.social-links::after{
    background-color: #DBF2FF;
    content:"";
    height:0.15rem;
}

.social-links:hover::after{
    display:block;
    animation: left-to-right 0.25s cubic-bezier(.694,.048,.335,1) ;
    background-color: #2985ff;
}


@keyframes left-to-right{
    0%{

        width:0;
    }
    100%{
        width:100%;
    }
}
@media screen and (max-width: 360px) {
    
  }
/* 
@media (max-width: 1100px){
    .footer ul{
        display:block;
        
    }
    .social-links{
        display:flex;
    }
    .social-links a{
        margin:auto;
    }
    .social-links:hover::after{
        display:block;
        animation: none;
    } 
    
 } */

/* .react-icons {
    vertical-align: middle;
    align-items: center;
    margin:auto;
    height:2rem;
    width:2rem;
    padding-bottom: 0.5rem;
    color:white;
  } */